%%% -*- erlang -*-
%%% vim: set ts=4 sts=4 sw=4 et ft=erlang:

{xref_checks, [undefined_function_calls]}.
{erl_opts, [
    {parse_transform}
]}.

{eunit_compile_opts, [export_all]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
